.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3F5F73;
}

.header nav ul {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  gap: 3rem;
}

.header nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.4rem;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.4rem;
  transition: all .3s ease-in;
}

.header nav a:hover {
  border-bottom: 1px solid black;
  font-size: 1.6rem;
}
